body{
    width: 1000px;
    margin: 0 auto;
    background-color: antiquewhite;
    justify-content: center;
}

.image img{
    width: 1000px;
}
h1{
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

p{
    text-align: center;
    font-size: 22px;
}
.table table{
    margin: 50px auto 0;

}

.table th{
    font-size: 30px;
}

.table td{
    font-size: 16px;
    text-align: center;
}